# Python (Global & Local)
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Docker
.dockerignore
# Do NOT ignore Dockerfiles, but you can ignore local data volumes
docker-data/

# Databases
*.sqlite3
pgdata/      # If you map your Postgres volume to a local folder

# Environments & Secrets
.env
.env.*
secrets.json

# Frontend (React)
frontend/node_modules/
frontend/build/
frontend/.pnp
.eslintcache

# Logs
*.log
logs/
